<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>


</head>
<body>
<div class="container">
    <h1>Newton Flix</h1>
    <p><a class="btn btn-primary btn-lg" href="/search/" role="button">Search for Newton</a></p>
    <div th:if="${not #lists.isEmpty(movies)}">
        <h2>Movie's with 'Newton' in the title:</h2>
        <table class="table table-bordered table-hover">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Imdb Link</th>
    </tr>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}">Title</td>
        <td th:text="${movie.year}">Year</td>
        <td><a th:href="${'http://www.imdb.com/title/' + movie.imdbID}">View IMDB</a></td>


    </tr>
</table>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
